.startButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-family: var(--custom-font);
    font-size: 1.2rem;
    text-transform: uppercase;
    min-width: 200px;
    transition: background var(--custom-orange) var(--custom-yellow);
    background: var(--custom-yellow);
    border-radius: 30px;
}

.startButton:hover {
    background: var(--primaryDark);
}

.startButton svg {
    width: 2.4rem;
    padding: 1.3em 0.3em;
    margin-right: 10px;
}
