.contentWindows {
    background: var(--custom-grey-bg);
    padding: 10px 80px 0 125px;
    font-family: var(--custom-font);

    .spread {
        border-radius: 30px;
        display: grid;
        grid-template-columns: minmax(300px, 1.2fr) minmax(300px, 1fr);
        height: 80vh;
        width: 100%;
        box-shadow: 0 5px 15px;
        margin: 1em auto;
        &-right {
            background: white;
            padding: 1em 3em 0;
            border-radius: 0 30px 30px 0;
            display: flex;
            flex-direction: column;
            gap: 5em;
        }
    }

    .content {
        margin-top: 100px;
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 2rem;
    }

    .title {
        font-family: var(--custom-font-title);
        line-height: 0.2em;
        padding-top: 4rem;
        font-size: 2.5em;
        font-weight: 600;
    }

    p {
        font-size: 1.5em;
        font-weight: 400;
        line-height: 1.5;
    }

    .button-wrapper {
        align-self: flex-start;
        padding-top: 1rem;
    }
}
