*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --header-outer-height: 80px;
    --header-inner-height: 55px;
    --header-height-difference: calc(
        var(--header-outer-height) - var(--header-inner-height)
    );
    --header-bg: var(--custom-grey-bg);
}

.responsive-wrapper {
    width: 90%;
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;

    /* foot */
    font-family: var(--custom-font);
    color: var(--custom-color-black-text);
}

/* Sticky header */
.header-outer {
    z-index: 100;
    /* Make it stick */
    height: var(--header-outer-height);
    position: sticky;
    top: calc(
        var(--header-height-difference) * -1
    ); /* Multiply by -1 to get a negative value */
    display: flex;
    align-items: center;

    /* Other */
    /* background-color: var(--header-bg); */
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    color: #000;
    background: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(10px);
}

.header-inner {
    /* Make it stick */
    height: var(--header-inner-height);
    position: sticky;
    top: 0;

    /* Other */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styling of other elements */
.header-logo img {
    display: block;
}

.header-navigation {
    display: flex;
    flex-wrap: wrap;
}

.header-navigation .sp,
.header-navigation .sp {
    font-size: 1.125rem;
    color: inherit;
    margin-left: 1.75rem;
    position: relative;
    font-weight: 500;
}

.header-navigation .sp {
    /* display: none; */
    font-size: 1.125rem;
    color: inherit;
    text-decoration: none;
}

.header-navigation .sp {
    border: 0;
    background-color: transparent;
    padding: 0;
    margin-left: 2.5rem;
}

.header-navigation .sp:hover:after {
    transform: scalex(1);
}

.header-navigation .sp:after {
    transition: 0.25s ease;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentcolor;
    transform: scalex(0);
    position: absolute;
    bottom: -4px;
    left: 0;
}

.userCenter {
    margin-left: 2.5rem;
    margin-right: 20px;
}

.userCenter a {
    cursor: pointer;
}

.dropdown {
    border: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
}

.sp:hover + .dropdown,
.dropdown:hover {
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    display: block;
    text-align: right;
    right: -50px;
    padding-top: 20px;
    min-width: 180px;
    box-shadow: 1px 3px 4px -1px #aaaaaa;
    border-radius: 10px;
    background-color: var(--custom-white);
    -webkit-animation: scale-in-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    animation: scale-in-ver-top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@-webkit-keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}
@keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

ul li {
    clear: both;
    min-width: 20px;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

li a {
    text-decoration: none;
    transition: all 0.5s ease;
    margin-left: 1.5rem;
}

li a:hover {
    padding-left: 7px;
    border-left: 3px solid var(--custom-color-black-text);
    margin-left: 1.4rem;
    transition: all 0.1s ease;
}

.exit::before {
    content: " ";
    display: block;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.318);
    height: 0.8px;
    position: relative;
    top: -9px;
}

.exit {
    margin-bottom: 15px;
}
