.button {
    display: block;
    min-width: 400px;
    background-color: var(--custom-red);
    border-radius: 15px;
    min-height: 100px;
    font-family: var(--custom-font);
    font-size: 27px;
    font-weight: 600;
    color: white;
    letter-spacing: 3px;
}
