/* tailwindcss 配置 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* css全局配置 */
:root {
    --custom-purple: #7948ea;
    --custom-orange: #fd8d14;
    /* 具体看 https://colorhunt.co/palette/cece5affe17bfd8d14c51605 */
    --custom-red: #c51605;
    --custom-yellow: #ffe17b;
    --custom-green: #cece5a;
    --custom-grey-bg: #f6f5f7;
    --custom-white: #f2f5f7;
    --custom-color-black-title: #33333b;
    --custom-color-black-text: #47474f;
    --custom-font: Source Sans Pro, source han sans, Arial, sans-serif;
    --custom-font-title: Helvetica, sans-serif;
}

.combFiles-card::-webkit-scrollbar {
    z-index: 50;
    width: 5px;
    height: 4px;
    background-color: #cece5a;
}

.combFiles-card::-webkit-scrollbar-thumb {
    background-color: #e5322d;
    border: 1px solid #e5322d;
    border-radius: 8px;
}

.combFiles-card::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5fa;
}
